<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="it.engbms.cordova.plugins.instantcaller" version="0.1.0">
   <name>Call</name>
   <description>Cordova Call Plugin</description>
   <license>MIT</license>
   <engines>
      <engine name="cordova" version="&gt;=3.0.0" />
   </engines>
   <js-module src="www/call.js" name="Call">
      <clobbers target="window.call" />
   </js-module>
   <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
         <feature name="Call">
            <param name="android-package" value="it.engbms.cordova.plugins.instantcaller.Call" />
         </feature>
      </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.CALL_PHONE" />
        </config-file>
		
      <source-file src="src/android/Call.java" target-dir="src/it/engbms/cordova/plugins/instantcaller" />
   </platform>
</plugin>
